@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400&display=swap');
* {
  box-sizing: border-box;
}
:root {
  --theme: #2a93ec;
}

a {
  text-decoration: none;
  color: white;
}
button {
  padding: 0.5rem;
  border: none;
  outline: none;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  background-color: var(--theme);
  transition: all 125ms linear;
}
button:hover {
  transform: scale(1.05);
}
p {
  padding: 0;
  margin: 0;
}
body {
  margin: 0.5rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito Sans', sans-serif;
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader img {
  background-color: var(--theme);
}
.hide {
  display: none;
}
.active {
  color: var(--theme);
  border-bottom: 3px solid var(--theme);
}
.underline {
  width: 3rem;
  height: 0.25rem;
  background-color: var(--theme);
}
.switch-btn {
  margin: 2rem 0;
}
.switch-btn span {
  margin: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--theme);
}
.container {
  width: 30%;
}

@media only screen and (max-width: 780px) {
  .container {
    width: 80%;
  }
}

.alert {
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
  display: none;
  justify-content: space-between;
  align-items: center;
  color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.1);
}
.form-control {
  display: flex;
  flex-direction: column;
}
.form-control label[for='file'] {
  margin-bottom: 1.5rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dashed var(--theme);
  border-radius: 0.25rem;
}
.form-control label[for='file1'] {
  margin-bottom: 1.5rem;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px dashed var(--theme);
  border-radius: 0.25rem;
}
.form-control label[for='file'] img {
  width: 50px;
}
.form-control label[for='file1'] img {
  width: 50px;
}
.form-control input[type='file'] {
  display: none;
}
.form-control label {
  padding: 0.25rem 0;
}
.form-control input {
  margin: 0.25rem 0;
  padding: 0.25rem;
}
.form-control input:focus {
  border: none;
  outline: 2px solid var(--theme);
}
.checkbox-container {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
}
.checkbox-container label {
  margin: 0 0.25rem;
}
.form-control button {
  margin: 0.5rem 0;
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-container img {
  max-width: 75%;
  margin: 0.5rem;
  border-radius: 5px;
}
.size-container {
  margin: 1rem;
}
.old {
  margin: 0;
  color: rgb(255, 0, 0);
}
.new {
  margin: 0;
  color: rgb(0, 150, 0);
}
.download-btn {
  margin: 0.5rem;
  display: none;
}

/* footer syling */

footer {
  margin: 1rem;
}
footer p {
  padding: 0.5rem;
}
.rounded-social-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rounded-social-buttons .social-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  border: 0.125rem solid transparent;
  padding: 0;
  text-decoration: none;
  text-align: center;
  color: #fefefe;
  font-size: 1.5625rem;
  font-weight: normal;
  line-height: 2em;
  border-radius: 1.6875rem;
  transition: all 0.5s ease;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
}

.rounded-social-buttons .social-button:hover,
.rounded-social-buttons .social-button:focus {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.rounded-social-buttons .fa-twitter,
.fa-facebook-f,
.fa-linkedin,
.fa-youtube,
.fa-instagram {
  font-size: 25px;
}

.rounded-social-buttons .social-button.facebook {
  background: #3b5998;
}

.rounded-social-buttons .social-button.facebook:hover,
.rounded-social-buttons .social-button.facebook:focus {
  color: #3b5998;
  background: #fefefe;
  border-color: #3b5998;
}

.rounded-social-buttons .social-button.twitter {
  background: #55acee;
}

.rounded-social-buttons .social-button.twitter:hover,
.rounded-social-buttons .social-button.twitter:focus {
  color: #55acee;
  background: #fefefe;
  border-color: #55acee;
}

.rounded-social-buttons .social-button.linkedin {
  background: #007bb5;
}

.rounded-social-buttons .social-button.linkedin:hover,
.rounded-social-buttons .social-button.linkedin:focus {
  color: #007bb5;
  background: #fefefe;
  border-color: #007bb5;
}

.rounded-social-buttons .social-button.youtube {
  background: #bb0000;
}

.rounded-social-buttons .social-button.youtube:hover,
.rounded-social-buttons .social-button.youtube:focus {
  color: #bb0000;
  background: #fefefe;
  border-color: #bb0000;
}

.rounded-social-buttons .social-button.instagram {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.rounded-social-buttons .social-button.instagram:hover,
.rounded-social-buttons .social-button.instagram:focus {
  color: #125688;
  background: #fefefe;
  border-color: #125688;
}
